body {
width: 1000px; margin: 0 auto;
font-family: "Arial", "Helvetica";
line-height: 140%;
}
#obsah {float:right; width: 850px}
#menu{float:left; max-width: 150px; }
#galerie img {
        border: 1px solid gray;
        padding: 6px;
        box-shadow: 3px 3px 6px #999999;
        margin-right: 6px;
}
#menu {
padding: 0 0 0 0;
list-style-type: none; 
max-width: 150px; 
line-height: 150%; 
}
#menu li { 
line-height: 100%; 
max-width: 150px;
margin-left:0px;
}      p, h2 {margin:4px;}
a.tlacitko {
text-decoration: none; border: 1px solid;  line-height: 130%;
color: black; padding: 2px 0px 2px 4px; margin: 4px 0px 4px 0px; width: 135px; display:block;font-weight: normal; border-radius:5px;
}                                        <!--#99FF00 barva zelená-->
a.tlacitko:hover {color: #D80000  ;} 
a.nadpis {text-decoration: none }
a.nadpis:hover {text-decoration: underline; color: black;} 
a {text-decoration:none; font-weight: 240;  color: black;}
a:hover {color:blue; text-decoration: underline;}
li a:hover  {color: black; background-color: #99ff00;}
.pozice  {background-color: #99ff00;}
p.podpis {font-size: 18px; font-style:italic; text-align:right;}
p.paticka {color: #696969; text-align: center; border: 1px solid #696969; border-radius: 2px; }
ul.a, ul.b {
list-style-type:none; padding-left: 0px; margin: 0px;}

#paticka
{ text-align: center;  }

.clear { 
clear: both;
height: 1px; 
font-size: 1px; 
line-height: .5; 
padding: 2px 2px 2px 2px; color: white;
}

.karta_leva, .karta_prava {
 float: left; width: 170px; margin: 0 15px 15px 0; padding: 10px 0;
 text-align: center; background: white; border: 1px solid; font-size: 75%;
       }
.karta_prava {
       float: right;
       margin: 0 0 15px 15px;
       }
             
 <!-- zadávání stran:  horní pravá dolní levá --> 
 
