body {
  width: 1000px;
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 140%;
}
.nadpis {font-size: 45px; position: absolute; top: 165px; left: 10px; text-decoration: none;}
.obsah {
  float: right;
  width: 850px;
}
.menu {
  float: left;
  max-width: 150px;
}

.menu ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
#galerie img {
  border: 1px solid;
  padding: 6px;
  margin-right: 6px;
}

a.tlacitko {
  text-decoration: none;
  border: 1px solid;
  color: black;
  padding: 2px 0px 2px 4px;
  margin: 4px 0px 4px 0px;
  width: 135px;
  display: block;
  border-radius: 5px;
}
/*#99FF00 barva zelená*/

 
a {
  text-decoration: none;
  font-weight: 240;
  color: black;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
.menu a:hover {
  color: black;
  background-color: #99ff00;
}
 
p.podpis {
  font-size: 18px;
  font-style: italic;
  text-align: right;
}
p.paticka {
  color: #696969;
  text-align: center;
  border: 1px solid #696969;
  border-radius: 2px;
}

#paticka {
  text-align: center;
}

.clear {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 0.5;
  padding: 2px 2px 2px 2px;
  color: white;
}

.karta_leva,
.karta_prava {
  float: left;
  width: 170px;
  margin: 0 15px 15px 0;
  padding: 10px 0;
  text-align: center;
  background: white;
  border: 1px solid;
  font-size: 75%;
}
.karta_prava {
  float: right;
  margin: 0 0 15px 15px;
}

/* flexbox for moje.html*/

.item {
  display: flex;
  flex-direction: row;
}


.hlavicka {height: 200px; width: 
  1000px; background: url(obr/hlavicka_2.jpg);}

/*<div style="position: relative">
  <img src="obr/hlavicka_2.jpg" />*/